/* HTML EN GENERAL */
html, body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

/* Asegura que las filas fuercen la misma altura si es necesario */
.row {
    align-items: stretch;
}

/* HEADER */
header {
    background-color: #3B83BD; 
    box-shadow: 
        0 2px 10px rgba(0, 0, 0, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.3);
}

.icono-escudo-principal {
    height: 100px;
    width: auto;
    max-width: 100%;
}

.texto-inicio {
    font-weight: 700;
    font-size: 25px;
    color: #f8f9fa;
}

/* CONTENIDO PRINCIPAL */
.main-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-contenido{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Los enlaces de manera predeterminada */
.enlaces-principales {
    /* background-color: #3b83bd; */
    background-image: linear-gradient(to bottom, #4a9cdb, #3B83BD); 
    aspect-ratio: 1 / 1;
    max-width: 250px;
    color: #f8f9fa;

    box-shadow: 
        0 3px 6px rgba(0, 0, 0, 0.15),  /* Sombra más cercana y definida */
        0 8px 20px rgba(0, 0, 0, 0.25); /* Sombra más difusa y extendida */

    transition:
        box-shadow 0.2s ease-in-out, 
        transform 0.2s ease-in-out;
}

/* Los enlaces al poner el ratón encima */
.enlaces-principales:hover {
    /* background-color: #266190; */
    background-image: linear-gradient(to bottom, #3B83BD, #266190); 

    box-shadow: 
        0 5px 10px rgba(0, 0, 0, 0.2), 
        0 12px 25px rgba(0, 0, 0, 0.3);

    transform: scale(1.05); /* Hace el icono más grande */
}

/* Como reacciona el icono en tamaño y color */
.enlaces-principales .icono-icomoon-principal {
    font-size: clamp(25px, 10vw, 80px);
    line-height: 1;
    display: block;
    max-width: 100%;
    height: auto;

    color: #f8f9fa;
    transition: color 0.2s ease-in-out; 
}

/* Como reacciona el icono al poner el ratón encima del bloque enlace */
.enlaces-principales:hover .icono-icomoon-principal {
     color: #f8f9faf1;
}

/* El texto del enlace */
.enlaces-principales .titulo-enlace {
    font-weight: 700;
    font-size: clamp(8px, 2vw, 18px);
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.4;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* Como reacciona el texto al poner el ratón encima del bloque enlace */
.enlaces-principales:hover .titulo-enlace {
    color: #f8f9faf1;
}

/* Asegura que el contenedor flex dentro de la columna ocupe espacio */
.enlaces-principales.d-flex {
    display: flex; /* Asegura que es flex */
    align-items: stretch; /* Estira el item hijo (el enlace) */
}

.enlaces-principales a.d-flex {
    width: 100%; /* Asegura que el enlace ocupa el ancho */
}

/* Video/Iframe */
.video-principal {
    display: block;
    aspect-ratio: 16/9; /* Eliminar si se usa video en lugar de iframe */
    width: 100%; 
    border-radius: 10px;
    border: 1px inset #f8f9fa; /* Borde inmersivo */
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

/* Iframe de lugares de interes */
.lugares-interes {
    width: 750px;
    height: 750px; 
    border-radius: 10px;
    border: 1px inset #f8f9fa; /* Borde inmersivo */
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer-comercio {
    background-color: #3b83bd;
    box-shadow: 
        0 -2px 10px rgba(0, 0, 0, 0.2),
        0 -4px 20px rgba(0, 0, 0, 0.3);
    color: #f8f9fa;
}

.footer-comercio a{
    color: #f8f9fa;
}


/* COMPONENTES */
.titulo-apartado-mercado{
    font-weight: 700;
    background-color: #3B83BD; 
    /* background-image: linear-gradient(to bottom, #4A9CBD, #3B83BD); */
    background-clip: text;
    color: transparent;
}

/*.imagen-evento{
    border-radius: 10px;
}*/

.fecha-evento{
    font-weight: 700;
}

.enlace-evento{
    font-weight: 700;
}

.imagen-espacio-deportivo{
    width: 350px;
    height: auto;
}
